@import '../styles/_variables.scss';

html, body, #root {
  width:  100%;
  height: 100%;
}

.App {
  width:  100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: #282c34; */
  background-color: #4d5057;
}
.App__main {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}
.App__steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 350px;
}
.App__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #787c7f;
  margin: 0 30px 16px 30px;
  padding-top: 15px;
  border-top: 2px solid #64686a;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}


.Step {
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: 0 50px;
}
.Step__icon {
  opacity: 0.2;
  height: 80px;
}
.Step.active .Step__icon{
  opacity: 1;
}
.Step__separator {
  position: absolute;
  top: 37px;
  left: -110px;
  display: inline-block;
  width: 125px;
  height: 2px;
  background-color: white;
  opacity: 0.2;
}
.Step.active .Step__separator {
  opacity: 1;
}
.Step__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}
.Step__or {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  width: 200px;
  margin: 2em 0;
  opacity: 0.2;
}
.Step.active .Step__or {
  opacity: 0.6;
}
.Step__or::before,
.Step__or::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 40%;
  height: 1px;
  background-color: white;
  top: 8px;
}
.Step__or::before {
  left: 0;
}
.Step__or::after {
  right: 0;
}


.InputStep__entries {
  margin-bottom: 1em;
  width: 100%;
}


.ProcessStep__entries {
  margin-bottom: 1em;
  width: 100%;
}
.ProcessStep__download {
  margin-bottom: 1em !important;
}


.StartStep__value {
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.StartStep__length {
  color: $text-color-muted;
  height: 40px;
  font-size: 13px;
}


.MainInput > .Input__element {
  padding: 0 0.5em;
  font-family: inherit;
  font-weight: 400;
  border-radius: 3px;
  border: 0;
  margin: 0;
  min-width: auto;
  vertical-align: middle;
  font-size: inherit;
  line-height: 48px;
  text-align: center;
  color: #111;
  background-color: #eee;
  border: 1px solid #2297DE;
  /* height: 36px; */
  transition-property: color,background,border-color;
  transition-duration: .1s;
  transition-timing-function: ease-in;
  outline: none;

  width: 200px;
  height: 48px;
  font-size: 16px;
  margin: auto;
  overflow: hidden;
}
.MainInput > .Input__element[disabled]{
  background-color: rgb(64, 67, 73);
  border-color: grey;
  color: #8b8b8b;
  opacity: 0.65;
}


.Entry {
  display: flex;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  align-items: center;
  font-size: 13px;
}
.Entry__icon {
  margin-right: 0.5em;
}
.Entry__id {
  flex: 1;
  display: flex;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
}
// .Entry__id__content {}
.Entry__button .Button {
  color: white !important;
}
